body {
  background-color: rgb(241, 151, 33);
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  border: solid 4px black;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  box-sizing: content-box;
  /* flex: 1 1 auto; */
  width: 30%;
  transition: 0.5s;
  /* animation: mymove 2s infinite; */
}

h2 {
  color: white;
}

.pokemon:hover {
  transform: scale(1.10);
}

.pokemon-img {
  min-width: 30%;
}

.botao {
  display: block;
}

.pokeName {
font-weight: bold;
font-size: 20px;
}